body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "fontello", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeaea;
  color: #2a2a2a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* color variables  */


:root {
  --bg-bright-color: #ffd42d;
  --bg-dark-color: #2a2a2a;
  --bg-semilight-color: #999999;
  --bg-light-color: #e6e6e6;
  --bg-white-color: #ffffff;
  --heading-dark-color: #2a2a2a;
  --heading-light-color: #999999;
  --text-dark-color: #2a2a2a;
  --text-semilight-color: #808080;
  --text-light-color: #999999;
  --link-dark-color: #003399;
  --link-light-color: #4d88ff;
}