.custom-contactheader {
  display: flex;
  flex-direction: column;  
  width: 5%;
  text-align: center;
}

.custom-contact-item {
  display: inline-block;
  height: 60px;
  width: 98%;
  margin: 0 auto;
  background-color: #fff;
  outline: 1px solid #e6e6e6;
}