.custom-contactheader {
  display: flex;
  flex-direction: column;  
  flex-shrink: 0;
  width: 40px;
  text-align: center;
}

.custom-contact-item {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  color: var(--bg-dark-color);
  border: 1px solid var(--bg-light-color);
  cursor: pointer;
  box-sizing: border-box;
  z-index: 10;

  background: linear-gradient(to right, var(--bg-dark-color) 50%, var(--bg-bright-color) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all .5s ease-out;
}

.custom-contact-item:hover {
  background-position: left;
  color: var(--bg-white-color);
}

@media only screen and (max-width: 900px){
  .custom-contactheader {
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 1px;
  }
}