.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}
.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 26%;
  flex-shrink: 0;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 2%;
  box-sizing: border-box;
  border: 1px solid var(--bg-light-color);
}
.contact-card-icon {
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin-bottom: 17px;
  color: var(--bg-dark-color);
}
.contact-card h2 {
  font-size: 17px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 17px;
  color: var(--heading-dark-color);
}
.contact-card p {
  word-break: break-all;
  font-size: 15px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--heading-light-color);
}
.contact-card p a {
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--text-dark-color);
}
.contact-card p span {
  color: var(--heading-dark-color);
}


/* variable screen adjustments */


@media only screen and (max-width: 1200px){
  .contact-container {
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
  }
  .contact-card {
    height: 250px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 549px){
  .contact-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
