.custom-description {
  position: relative;
  flex-shrink: 0;
  width: 900px;
  padding-bottom: 50px;
  text-align: center;
  height: auto;
  background-color: #ffffff;
  z-index: 5;
  box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.35), 
              0px 15px 0px -8px #ffd42d, 
              0px 15px 0px -7px #ffd42d, 
              0px 16px 25px -10px rgba(0,0,0,0.35), 
              0px 30px 0px -15px #ffd42d, 
              0px 30px 0px -14px #ffd42d;
}

.custom-footer {
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 100%;
  background-color: #ffd42d;
}

@media only screen and (min-width: 901px) and (max-width: 1150px){
  .custom-description {
    width: 700px;
  }
}

@media only screen and (max-width: 900px){
  .custom-description {
    width: 100%
  }
}