.custom-navbar {
  display: flex;
  flex-direction: column;  
  flex-shrink: 0;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}

.custom-navbar-brand {
  display: inline-block;
  height: 170px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  outline: 1px solid #e6e6e6;
}
.custom-brand {
  background-image: url("../assets/profile-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-navbar-item {
  display: inline-block;
  height: 120px;
  width: 100%;
  margin: 0 auto;
  outline: 1px solid #e6e6e6;
  cursor: pointer;
  z-index: 10;

  background: linear-gradient(to right, #ffd42d 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all .5s ease-out;
}
.custom-navbar-item:hover {
  background-position: left;
}
.custom-navbar-item h3 {
  margin: 0 auto;
  font-size: medium;
}
.active {
  background: #ffd42d;  
}

.inner-items {
  margin-top: 30px;
}

