.custom-navbar {
  display: flex;
  flex-direction: column;  
  width: 12%;
  text-align: center;
  text-transform: uppercase;
}

.custom-navbar-brand {
  display: inline-block;
  height: 150px;
  width: 98%;
  margin: 0 auto;
  background-color: #fff;
  outline: 1px solid #e6e6e6;
}

.custom-navbar-item {
  display: inline-block;
  height: 130px;
  width: 98%;
  margin: 0 auto;
  background-color: #fff;
  outline: 1px solid #e6e6e6;
}