.navbar-container {
  display: flex;
  flex-direction: column;  
  flex-shrink: 0;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}


/* custom made navbar */


.custom-navbar {
  display: flex;
  flex-direction: column;  
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

.custom-navbar-brand {
  position: relative;
  width: 100%;
  height: auto;
}

.custom-image {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

.custom-navbar-item {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 1px solid var(--bg-light-color);
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 1;
  z-index: 8;
  background: linear-gradient(to right, var(--bg-bright-color) 50%, var(--bg-white-color) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all .5s ease-out;
}
.custom-navbar-item:hover {
  background-position: left;
}

/* custom-navbar-item icon styling */
.custom-navbar-item-icons {
  position: relative;
  font-size: 27px;
  margin-top: 30px;
  margin-bottom: 0px;
  box-sizing: border-box;
  z-index: 10;
}

/* custom-navbar-item heading style */
.custom-navbar-item h3 {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--heading-dark-color);
  text-transform: uppercase;
  box-sizing: border-box;
  z-index: 10;
}

/* custom-navbar-item active state class */
.active {
  position: absolute;
  left: 0px;
  width: 101%;
  height: 101%;
  margin-left: -1px;
  background-color: var(--bg-bright-color);
  z-index: 9;
}

/* arrow design for custom-navbar-item */
.arrow {
  position: absolute;
  top: 35%;
  left: 100%;
  width: 0;
  height: 0;
	border-top: 19px solid transparent;
	border-left: 10px solid var(--bg-bright-color);
  border-bottom: 19px solid transparent;
  z-index: 9;
}


/* for variable screen sizes */


@media only screen and (min-width: 901px) and (max-width: 1150px){
  .navbar-container {
    width: 110px;
  }
  .custom-navbar-item-icons {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    box-sizing: border-box;
  }
  .custom-navbar-item h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .arrow {
    top: 35%;
    left: 100%;
    border-top: 17px solid transparent;
    border-left: 9px solid var(--bg-bright-color);
    border-bottom: 17px solid transparent;
    z-index: 9;
  }
}

@media only screen and (max-width: 900px){
  .navbar-container {
    width: 100%;
  }
  .custom-navbar {
    flex-direction: row;
  }
  .custom-navbar-item-icons {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    box-sizing: border-box;
  }
  .custom-navbar-item h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .arrow {
    top: 100%;
    left: 35%;
    border-left: 17px solid transparent;
    border-top: 9px solid var(--bg-bright-color);;
    border-right: 17px solid transparent;
    z-index: 9;
  }
}

@media only screen and (max-width: 549px){
  .custom-navbar-item-icons {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 0px;
    box-sizing: border-box;
  }
  .custom-navbar-item h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .arrow {
    top: 100%;
    left: 35%;
    border-left: 15px solid transparent;
    border-top: 8px solid var(--bg-bright-color);;
    border-right: 15px solid transparent;
    z-index: 9;
  }
}





