/* project styling */


.project-card-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.project-card {
  display: inline-block;
  text-align: center;
  position: relative;
  height: 250px;
  width: 46%;
  flex-shrink: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  box-sizing: border-box;
  border: 1px solid var(--bg-light-color);
  border-radius: 5px;
  transition: all 0.5s;
}
.project-card:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}

.project-card h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 6px;
  color: var(--heading-dark-color);
}
.project-card h3 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 15px;
  color: var(--heading-light-color);
}

.project-card h3 span {
  position: relative;
  background-color: var(--bg-bright-color);
  vertical-align: center;
  font-size: 13px;
  font-weight: 400px;
  color: var(--heading-dark-color);
  height: 18px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}
.project-card .arrow-right {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 0;
  height: 0;
	border-top: 9px solid transparent;
	border-left: 5px solid var(--bg-bright-color);
  border-bottom: 9px solid transparent;
}
.project-card .arrow-left {
  position: absolute;
  top: 0px;
  right: 100%;
  width: 0;
  height: 0;
	border-top: 9px solid transparent;
	border-right: 5px solid var(--bg-bright-color);
  border-bottom: 9px solid transparent;
}

.project-card p {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  color: var(--text-semilight-color);
}

.project-card-footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 94%;
  vertical-align: center;
  margin-left: 3%;
  margin-right: 3%;
  box-sizing: border-box;
}

.tech-icon {
  float: right;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}
.image-fill {
  display: inline-block;
  vertical-align: inline-block;
  height: auto;
  max-width: 100%;
}

.custom-link {
  float: left;
  height: 28px;
  width: 28px;  
  font-size: 30px;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--bg-bright-color);
}
.custom-link:hover {
  color: var(--link-light-color);
}


/* variable screen adjustments */


@media only screen and (max-width: 900px){
  .project-card-container {
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
  }
  .project-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 549px){
  .project-card-container {
    padding-left: 6%;
    padding-right: 6%;
  }
}